<launch>
    <arg name="model" />
    <param name="robot_description" textfile="$(find pal_description_package)/urdf/pal_description_package.urdf" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0.175 0 0 0 base_footprint base_link 30" />
    <!-- Transformation Configuration ... Setting Up the Relationships Between Coordinate Frames --> 
    <!-- odom to base_footprint transform will be provided by the pal_controller_node -->
    <!-- map to odom will be provided by the AMCL -->
    <!-- node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 30" /-->


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
        <param name="port"              type="string"               value="/dev/ttyACM0"/>
        <param name="baud"              type="int"                  value="115200"/>
    </node>

    <node name="pal_controller_node"        pkg="pal_controller_pkg"      type="pal_controller_node.py">
    
    </node>



</launch>